@import "/src/app/shared/shared.scss";

#banner {
  padding: 40px;
  border-radius: 20px;
  background-color: $blue;
  box-shadow: 1px 1px 4px $gray;
  text-align: center;
}

.to-do {
  background-color: $gray-light;
  box-shadow: 1px 1px 4px $gray;
  padding: 20px 40px;
  border-radius: 5px;
  margin: 10px;
  li {
    list-style: none;
  }
  img {
    float: right;
    filter: $black-filter;
  }
}

.announcements {
  position: relative;
  background-color: $gray-light;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px $gray;
  margin: 10px;
  h2 {
    color: $red;
    margin: 10px 0;
    line-height: 1em;
  }
  h4 {
    line-height: 1em;
  }
  p {
    margin: 20px 0;
  }
  form {
    margin: 0;
    background: none;
    box-shadow: none;
    width: auto;
  }
}
form {
  margin: 20px 10px;
}
textarea {
  padding: 1em;
  border: 1px solid $gray;
  border-radius: 10px;
  width: 90%;
  height: 8em;
}

@media only screen and (max-width: 900px) {
  .announcements {
    padding: 1em;
    form {
      margin: -1em;
    }
  }
}
