<!-- banner -->
<div id="banner">
  <h1>{{ welcome }}</h1>
  <p>{{ instructions }}</p>
</div>

<!-- to do list -->
<h3 class="header">To do</h3>
<div *ngIf="toDos">
  <ul class="to-do" *ngFor="let item of toDos">
    <a routerLink="{{ item.link }}">
      <li>
        {{ item.title }}
        <img class="icon" src="assets/icons/add-solid.svg" alt="add" /></li
    ></a>
  </ul>
</div>
<div *ngIf="!toDos">
  <p><i>Nothing to do</i></p>
</div>

<!-- announcements -->
<h3 class="header">Announcements</h3>
<div *ngIf="announcements">
  <div class="announcements" *ngFor="let item of announcements">
    <div *ngIf="isAdmin">
      <a (click)="edit = !edit"
        ><img class="edit-icon icon" src="assets/icons/pencil.svg" alt="edit"
      /></a>
    </div>
    <div *ngIf="!edit">
      <h2>{{ item.title }}</h2>
      <h4>
        {{ item.date }} <i> Posted by {{ item.user }}</i>
      </h4>
      <p>{{ item.content }}</p>
    </div>
    <div *ngIf="edit">
      <form class="form">
        <input type="text" value="{{ item.title }}" />
        <h4>
          {{ item.date }} <i> Posted by {{ item.user }}</i>
        </h4>
        <textarea>{{ item.content }}</textarea>
        <button
          class="btn"
          (click)="editAnn(item.content, item.title, item.id); edit = !edit"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</div>
<div *ngIf="!announcements">
  <p><i>No new announcements</i></p>
</div>
<div *ngIf="isAdmin" (click)="newAnn = !newAnn">
  <h4 class="addNew" *ngIf="!newAnn">
    <img class="icon" src="assets/icons/add-outline.svg" alt="add" />Add new
    Announcement
  </h4>
</div>

<div *ngIf="newAnn">
  <form class="form">
    Header:
    <input type="text" #title placeholder="ex. Important Announcement" />
    <textarea name="ann" #ann id="ann" placeholder="Start typing..."></textarea>
    <button
      class="btn"
      (click)="addAnn(ann.value, title.value)"
      (click)="newAnn = !newAnn"
    >
      Add
    </button>
  </form>
</div>
