<!-- Open new chat -->
<div *ngIf="!openChat">
  <h3>Your Chatrooms</h3>
  <app-room-list></app-room-list>
</div>
<!-- Open existing chat -->
<div id="container" *ngIf="openChat">
  <div id="header">
    <h4 class="start">{{ chatroom.name }}</h4>
    <div *ngFor="let m of members">
      <img class="pic" src="{{ m.img }}" alt="pic" />
    </div>
    <a (click)="add = !add" *ngIf="!add"
      ><img class="icon" src="../../../../assets/icons/add-outline.svg" alt="+"
    /></a>
    <input
      *ngIf="add"
      #user
      type="text"
      placeholder="Add to Chat"
      (keyup.enter)="addUser(user.value); add = !add"
    />
  </div>
  <!-- chat content -->
  <div id="content-container">
    <div *ngFor="let c of chatroom.chats">
      <img class="pic" src="{{ c.img }}" alt="pic" />
      <h4>
        {{ c.name }} <i>- {{ c.date }}</i>
      </h4>
      <p>{{ c.message }}</p>
      <hr />
    </div>
  </div>
  <!-- chat input -->
  <div id="text">
    <button class="btn" (click)="sendMessage(message.value)">Send</button>
    <textarea id="txt" #message placeholder="Start typing..."></textarea>
  </div>
</div>
