<!-- profile page -->
<h3 class="header">Profile Page</h3>

<!-- primary users profiles -->
<div class="profile" *ngFor="let profile of profiles">
  <div class="card-head">
    <a href=""
      ><img class="edit-icon icon" src="assets/icons/pencil.svg" alt="edit"
    /></a>
    <img class="pic" src="{{ profile.pic }}" alt="profile pic" />
    <h3>
      Name <span>{{ profile.name }}</span>
    </h3>
    <p>
      Position <span>{{ profile.title }}</span>
    </p>
  </div>
  <div class="card-content">
    <div *ngIf="!profile.isPrimary">
      <p>
        Relation <span>{{ profile.relation }}</span>
      </p>
    </div>
    <h5>Contact Information</h5>
    <p>
      Email <span>{{ profile.email }}</span>
    </p>
    <p>
      Phone <span>{{ profile.phone }}</span>
    </p>
    <p>
      Address <span>{{ profile.address }}</span>
    </p>
  </div>
</div>

<!-- Add new profile -->
<h5 class="addNew" *ngIf="!open">
  <a (click)="addProfile(); open = !open">
    <img class="icon" src="assets/icons/add-outline.svg" alt="add" />Add new
    profile</a
  >
</h5>
<form *ngIf="open" #form class="form">
  <h5>Add New Household Member</h5>
  Upload Profile Pic <input type="file" /><br />
  Name <input type="text" /> Position
  <input type="text" />
  <br />
  Relation <input type="text" />
  <h5>Contact Information</h5>
  Email <input type="email" /> Phone <input type="text" /> Address
  <input type="text" />
  <button class="btn" (click)="saveProfile(form)">Add Profile</button>
</form>
