@import "app/shared/variables";
@import "app/shared/font";
@import "app/shared/util";
@import "app/shared/forms";
@import "app/shared/layout";
@import "app/shared/nav";
@import "app/shared/tables";

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
